/* ---------------
    Body
---------------- */
body{
    margin: 0;
    background-color: rgb(155, 155, 155);
}

/* ---------------
    Header
---------------- */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
    color: beige;
    font-family: 'Orbitron', sans-serif;
}
header ul {
    margin-right: 150px;
}
header ul li {
    padding: 10px;
    display: inline;
    text-decoration: none;
}

.btn {
    color: beige;
    font-family: 'Orbitron', sans-serif;
    
}

#logo {
    align-self: center;
    margin-left: 150px;
}

/* ---------------
    News images
---------------- */
#main-div-large {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 5px;
    margin: 15px 150px;
}

article {
    grid-column: auto /span 2;
    word-break: break-all;
}

h1 {
    padding: 0 15px;
    font-size: 33px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px #0c0c0c;
}


/* ---------------
    Variables
---------------- */
#main-div-new-0 {
    grid-column: auto / span 5;
    grid-row: auto /span 2;
    background-color: brown;
    border-radius: 10px;
    height: 500px;
}
#main-div-new-1 {
    grid-column: auto / span 5;
    grid-row: auto /span 2;
    background-color: brown;
    border-radius: 10px;
}
#main-div-new-2 {background-color: brown; border-radius: 10px;}
#main-div-new-3 {background-color: brown; border-radius: 10px;}
#main-div-new-4 {background-color: brown; border-radius: 10px;}
#main-div-new-5 {background-color: brown; border-radius: 10px; height: 250px;}
#main-div-new-6 {background-color: brown; border-radius: 10px;}
#main-div-new-7 {background-color: brown; border-radius: 10px;}
#main-div-new-8 {background-color: brown; border-radius: 10px;}
#main-div-new-9 {background-color: brown; border-radius: 10px;}

/* ---------------
    Footer
---------------- */
footer {
    display: flex;
    justify-content: left;
}
footer ul {
    margin-left: 150px;
    padding-left: 0;
}
footer ul li {
    padding: 10px;
    display: inline;
    text-decoration: none;
}
